.footer{
  background-color: $color-grey-dark-3; 
  padding:10rem 0; 
  font-size: 1.4rem;
  &__logo-box{
     width: 15rem;
     height: auto;

  }
  &__logo{

  }
  &__navigation{

  }
  &__list{


  }
  &__item{

  }
  &__link{

  }

}